@import "/home/mario/.config/colors/colors.css";

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    font-weight: bold;
    color: @foreground;
    background: transparent;
    border: none;
    min-height: 0;
}

#waybar {
    background: rgba(10, 10, 10, 0.35);
    margin: 0 5px;
}

#workspaces {
    margin: 0 5px;
}

#workspaces button {
    color: @foreground;
    padding: 4px 8px;
   /* border-radius: 6px;*/
    background: transparent;
    transition: all 0.2s ease;
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0.1);
    color: @pink;
}

#workspaces button.active {
    background: rgba(255, 255, 255, 0.15);
    color: @pink;
}

#workspaces button.urgent {
    background-color: @red;
    color: @background;
}

#custom-power {
    margin: 0 5px;
   /*border-radius: 6px;*/
    padding-right: 5px;
    background: transparent;
    transition: background 0.2s ease;
}
#tray {
    margin: 0 5px;
    /*border-radius: 6px;*/
    padding: 0 5px;
    background: transparent;
    transition: background 0.2s ease;
}
#tray menu, .popup {
    background-color: #0b0b0b;
   /*border-radius: 8px;*/
}
#bluetooth {
    margin: 0 5px;
   /*border-radius: 6px;*/
    padding: 0 5px;
    background: transparent;
    transition: background 0.2s ease;
}
#network {
    margin: 0 5px;
    /*border-radius: 6px;*/
    padding: 0 5px;
    background: transparent;
    transition: background 0.2s ease;
}
#battery {
    margin: 0 5px;
    /*border-radius: 6px;*/
    padding: 0 5px;
    background: transparent;
    transition: background 0.2s ease;
}
#pulseaudio {
    margin: 0 5px;
    /*border-radius: 6px;*/
    padding: 0 5px;
    background: transparent;
    transition: background 0.2s ease;
}
#clock {
    margin: 0 5px;
    padding: 0 5px;
    background: transparent;
    /*border-radius: 6px;*/
    transition: background 0.2s ease;
}

#bluetooth { color: @yellow; }
#network { color: @purple; }
#battery { color: @green; }
#pulseaudio { color: @orange; }
#clock { color: @blue; }

#custom-power:hover,
#tray:hover,
#bluetooth:hover,
#network:hover,
#battery:hover,
#pulseaudio:hover,
#clock:hover {
    background: rgba(255, 255, 255, 0.08);
}

#custom-power {
    color: @red;
}

tooltip {
    background: #0b0b0b;
    /*border-radius: 8px;*/
    border: 1px solid #0b0b0b;
}
