@define-color background #0b0b0b;    
@define-color foreground #e2e2e2;    
@define-color select     #161616;    


@define-color pink       #b97a94;    
@define-color purple     #8e84b8;    
@define-color red        #a05b5b;    
@define-color orange     #a67858;    
@define-color yellow     #b8b06a;    
@define-color green      #7d927a;    
@define-color blue       #7489b0;    
@define-color gray       #242424;    

@define-color mag        #ad8ee6;
@define-color cyn        #0db9d7;
@define-color white      #ffffff;
@define-color fg         #a9b1d6;
