[Unit]
Description=Turn on hyprsunset at 19:00

[Timer]
OnCalendar=*-*-* 19:00:00
Persistent=true
Unit=hyprsunset-on.service

[Install]
WantedBy=timers.target
