[Unit]
Description=Turn on wlsunset at 19:00

[Timer]
OnCalendar=*-*-* 19:00:00
Persistent=true
Unit=wlsunset-on.service

[Install]
WantedBy=timers.target
