@define-color background #0b0b0b;
@define-color foreground #e2e2e2; 
@define-color select #161616; 
@define-color pink #b97a94; 
@define-color purple #8e84b8; 
@define-color red #a05b5b; 
@define-color orange #a67858; 
@define-color yellow #b8b06a; 
@define-color green #7d927a; 
@define-color blue #7489b0; 
@define-color gray #242424; 
@define-color mag #ad8ee6; 
@define-color cyn #0db9d7; 
@define-color white #ffffff; 
@define-color fg #a9b1d6;

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    font-weight: bold;
    border: none;
    min-height: 0;
}

window#waybar {
    background-color: @bg;
    color: @fg;
}

/* Workspaces */
#workspaces button {
    padding: 0 6px;
    color: @cyn;
    background: transparent;
}

#workspaces button.active {
    border-bottom: 3px solid @mag;
    border-radius: 0;
}

#workspaces button.hidden {
    color: @white;
}

#workspaces button.urgent {
    background-color: @red;
}

/* Espaçamento uniforme e compacto */
#custom-media,
#cpu,
#memory,
#tray,
#bluetooth,
#network,
#battery,
#pulseaudio,
#clock {
    margin: 0 5px;
    padding: 0 4px;
    background: transparent;
}
#tray menu, .popup {
    background-color: #0b0b0b;
}

/* Cores */
#cpu { color: @red; }
#memory { color: @green; }
#custom-media { color: @blue; }

#bluetooth { color: @yellow; }
#network { color: @purple; }
#battery { color: @green; }
#pulseaudio { color: @orange; }
#clock { color: @blue; }

/* Tooltip */
tooltip {
    background: #0b0b0b;
    border: 1px solid #0b0b0b;
}

